.profile{
    color:rgb(249, 249, 252);
}

.profiletop{
   margin-top:0px; 
   box-shadow: 0 1px 2px  rgb(157, 157, 184);
   background:rgb(249, 248, 250)
}
.profilecontainer{
    max-width: 945px;
    margin:0 auto;
   
}
.profilecover{
    position:relative;
    height: 350px;
    width:100%;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   background-color: rgb(157, 157, 184);
}
.updatecover_wrapper{
position:absolute;
bottom :1rem;
right: 1rem;
}
.opencover_update{
    background: #fff;
    padding: 7px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    
}
.opencover_menu{
    background: #fff;
    position: absolute;
    right: 0;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 12px 28px color(srgb red green blue);
color:black;
}
.opencovermenu_item{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border-radius:10px;

}


/*profile pictureinfos*/
.profile_img_wrap{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: -2.8rem;
}
.profile_w_left{
   display: flex;
   gap:1rem;
   padding: 1rem 13px 0 13px; 
}
.profile_w_img{
    position :relative;

}
.profile_w_bg{
 width:180px;
 height:180px;
 /* transform:translateY(-3.6rem); */
 border-radius: 50%;
 background-repeat: no-repeat;
 border: 2px solid white;
 background: white;
 cursor: pointer;
}
.profile_w_bg:hover{
filter: brightness(95%);
}
.profile_circle{
    position: absolute;
    bottom: 4.5rem;
    right: .55rem;
    background: rgb(166, 162, 224);
    background-color: rgb(227, 227, 233);
    color: black;
width: 30px;
height: 30px;
border-radius: 50%;
cursor: pointer;
}
.profile_name{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 32px;
    color:black;
}
.profile_w_right{
    display: flex;
    gap:8px;

}
.edit_btn{
   background-color: blue;
    border-radius: 10px;
  
    padding: 7px 15px;
    
  
    font-weight: 600;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    transform:translateY(-1px);
}

/*profilemenu*/
.Profilemenu_wrap{
  position:relative;
 padding:  0 2.2rem;
}
.profile_menu{
    position:relative;
    border-top:1px solid rgb(157, 157, 184);  
    display: flex;
    padding:0 ; 
    text-decoration: none;
}
.profile_menu a {
height: 54px;
width: 70.5px;
font-weight: 600;
font-size: 14px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
border-radius: 10px;
margin: 3px 0;
color:rgb(37, 33, 33)
}
.profile_menu_active{
    height:60px;
    width:65px;
    margin: 0;
    color: blue !important;
    border-bottom: 3px solid blue;
 
}