

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #e26767; 
   
    color: #fff; 
   
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .social-hub {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-right: 2rem;
  }
  
  .search {
    position: relative;
  }
  
  .search-input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    width: 200px;
  }
  
  .header-center {
    display: flex;
    justify-content: space-between;
  }
  
  .nav-link {
    margin-right: 1rem;
    text-decoration: none;
    color: #fff;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }

  .arrow_header{
    cursor: pointer;
  }
  
  .profile-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
      display: flex;
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 2px;
    
  }
  
  .profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  .user-name {
    font-weight: bold;
    color: #ccc;
  }


  



  .watchnotification{

position: absolute;
/* top:3px; */

background: #e41e3f;
border-radius: 50px;
padding: 1px 5px;
font-size: 10px;
color: white;
}


/* searchmenu */

.searcharea {
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
  background: rgb(249, 250, 250);
  box-shadow: 0 12px 12px var(--shadow-1, Inset 0 0 0 0) var(--shadow-Inset);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
  margin-left: 200px;
  min-height: 400px;
  max-height: 70vh;
  padding: 8px 16px 10px 6px;
  top: 50px;
}

.searchwrap{
  display:flex;
  align-items:center;
  gap:6px;
}
.searchhistory{
  width:100%;

}
.searchhistoryheader{
  width:100%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 10px;
  font-size: 14px;
}
.searchhistoryheader span {
  font-weight: 600;
  font-size: 16px;
  color: black;
}

.searchhistoryheader a {
  cursor: pointer;
  color:var(--blue-color)
}




/* searchresult*/

.search-results-container {
  position: absolute;
  top: 60px;
  left: 0;
  width: 50%;
  
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
}

.search-result-item {
  padding: 10px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s ease;

  &:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }

  &:hover {
    background-color: #f0f0f0;
  }
}


/*arrow rightside */
.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 20px; 
 right: 1px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
  color: rgb(14, 13, 13);
}

.dropdown-content div {
  padding: 10px;
  cursor: pointer;
}


.arrow_header {
 
  cursor: pointer;
}
