/* .postbox{
   position: fixed;
    min-height: 400px;
    width: 650px;
    border-radius: 10px;
    background-color:white;
    margin-left: 400px;
} */

.postbox {
    min-height: 400px;
    width: 90%; /* Adjust as needed */
    border-radius: 15px;
    background-color: white;
    margin-left: 5%; /* Adjust as needed */
}

  @media (max-width: 768px) {
    .postbox {
      width: 100%;
    }
  }

.box_header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    padding:14px 15px 17px 15px ;
    background-color: white;
}
.box_circle{
    position:absolute;
    right:16px;
    top:12px;

}
.box_profile{
    display:flex;
    gap:12px;
    padding:17px 17px 5px 17px;

}
.box_profile .box_profileimg{
    width:30px;
    height:30px;
    border-radius: 50%;
object-fit: cover;
}
.box_col{
   transform: translate(-7px); 
}
.box_profile_name{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
}
.box_privacy{
    display:flex;
    align-items: center;
    width:81px;
    gap:4px;
    font-size: 12px;
    padding:3px 8px 4px 8px;
    background-color: rgb(182, 177, 177);
}

.flex_center{
    min-height:90px ;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post_input{
  position: relative;  
  outline: none;
  border:none;
  padding:5px 15px;
  margin-bottom: 10px;
  width: 470px;
  margin-left: 1px;
  font-family: inherit;
  font-size: 24px;
}
.post_emojis_wrap{
   position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 15px;

}
.emoji_icon_large{
    width: 30px;
    cursor: pointer;
}
/* .comment_emoji_picker {
    position: absolute;
    right: 0;
    bottom: 2.5rem;
}
.comment_emoji_picker_remove{
    right: 0.7rem; ;
} */

.addtoyourpost{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    border:3px solid rgb(143, 138, 138) ;

}
.addto_text{
    width:50%;
    font-weight: 600;
    font-size:14px ;
}
.postheader_right{
    width:35px;
    height: 35px;
display: grid;
place-items: center;
cursor: pointer;
border-radius: 50%;
}
       
.post_submit{
   width:150px;
   margin:5px 10px;
   padding: 10px;
   outline:none ;
   border: none;
   background-color:blue;
   color:#fff;
   font-weight: 600;
   border-radius:5px;
   cursor: pointer;

}

/*imagepreview */
.add_pic_wrap{
   margin:10px;
   padding:10px;
   border:1px solid rgb(171, 171, 209);
   border-radius: 10px;
   width: 400px;
   height: 300px;
}
.add_pic_inside{
    position: relative;
    background: rgb(236, 236, 243);
    border-radius: 10px;
    /* padding: 10px; */
    height: 300px;
    display: grid;
    place-items: center;
    cursor: pointer;
 
}
.add_col{
 display: flex;
 flex-direction: column;
 align-items: center;  
 gap:2px;
}
/* .small_circle{
width:30px;
height: 30px;
border-radius: 50%;
border:1px solid rgb(84, 84, 109);
background: rgb(251, 251, 253);
display: grid;
place-items: center;
cursor: pointer;
z-index: 99;
top:10px;
right: 10px;
} */
/* .add_circle{
   width:42px;
   height: 42px;
   border-radius: 50%;
   border: 1px solid ; 
   place-items: center;
} */

.add_col span{
    font-size: 15px;
    font-weight: 600;
}

.p0{
    padding: 0;
    border-radius: 10px;
    height: 250px;
cursor: default;
overflow: hidden;

}
.preview_actions{
   position: absolute; 
   /* left:1rem;
   top:1rem; */
   display: flex;
 flex-direction: column;
   gap:1rem;
   display: none;
}
.preview_actions button{
outline: none;
border: none;
padding: 8px 10px;
border-radius: 7px;
background-color: rgb(205, 205, 230);
display: flex;
align-items: center;
gap: 0px;
cursor: pointer;
font-size: 14px;
font-weight: 600;
color: black;
margin-left: 150px;
}
.p0:hover .preview_actions{
    display: flex;
}
.preview1{
    width: 100%;
    height: 100%;
}
.preview1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.preview2{
    height: 100%;
    display: flex;
    gap: 2px;
}
.preview2 img{
    width: 50%;
    height: 230px;
    object-fit: cover;
}
.preview3{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2px;
}
.preview3 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.preview3 img:nth-child(1){
   grid-column: 1/3;
   
}
.preview4 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 2px;
}
.preview4 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.preview4 img:nth-child(1){
    grid-column: 1/4;
}